<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styless.css">
    <title>Create Lobby</title>
    <script src="../static/script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Create Lobby</h1>
        <form id="createLobbyForm">
            <label for="lobbyName">Lobby Name:</label>
            <input type="text" id="lobbyName" name="lobbyName" required>
            
            <button type="submit" class="create-lobby-btn1">Create Lobby</button>
        </form>
        <a href="mainmenu.html" class="back-btn">Back to Main Menu</a>
    </div>
</body>
</html>
