<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styless.css">
    <title>Join Lobby</title>
    <script src="../static/script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Join Lobby</h1>
        <form id="joinLobbyForm">
            <label for="lobbyID">Lobby ID:</label>
            <input type="text" id="lobbyID" name="lobbyID" required>

            <button type="submit" class="join-lobby-btn1">Join Lobby</button>
        </form>
        <a href="mainmenu.html" class="back-btn">Back to Main Menu</a>
    </div>
</body>
</html>
